/* based on the mos4-theme-plugin repository ./css/custom.css; order matters. */
/* line 3, ../precompiled/mos4-styles/backgrounds.scss */
.aui .image-background.repeat, .aui .blue-textured-overlay, .aui .transparent-blue-textured-overlay, .aui .fullscreen-overlay, .aui .darkblue-textured-overlay, .aui .gold-textured-overlay {
  background-repeat: repeat; }
/* line 6, ../precompiled/mos4-styles/backgrounds.scss */
.aui .image-background.cover, .aui .mos-topic {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%; }
/* line 13, ../precompiled/mos4-styles/backgrounds.scss */
.aui .gray-background {
  background-image: linear-gradient(to bottom, rgba(25, 72, 103, 0), rgba(25, 72, 103, 0.05)), radial-gradient(circle at 51% 47%, rgba(255, 255, 255, 0.5), rgba(225, 229, 245, 0.5)); }
/* line 17, ../precompiled/mos4-styles/backgrounds.scss */
.aui .blue-textured-overlay, .aui .transparent-blue-textured-overlay, .aui .fullscreen-overlay {
  background-image: url(../images/blue-textured.png); }
/* line 22, ../precompiled/mos4-styles/backgrounds.scss */
.aui .transparent-blue-textured-overlay {
  opacity: .95; }
/* line 27, ../precompiled/mos4-styles/backgrounds.scss */
.aui .darkblue-textured-overlay {
  background-image: url(../images/darkblue-textured.png); }
/* line 32, ../precompiled/mos4-styles/backgrounds.scss */
.aui .gold-textured-overlay {
  background-image: url(../images/gold-textured.png); }
/* line 37, ../precompiled/mos4-styles/backgrounds.scss */
.aui .mos-topic {
  background-color: #12334a; }
  /* line 41, ../precompiled/mos4-styles/backgrounds.scss */
  .aui .mos-topic.topic1 {
    background-image: url(../images/topics/military-life.png); }
  /* line 44, ../precompiled/mos4-styles/backgrounds.scss */
  .aui .mos-topic.topic2 {
    background-image: url(../images/topics/family.png); }
  /* line 47, ../precompiled/mos4-styles/backgrounds.scss */
  .aui .mos-topic.topic3 {
    background-image: url(../images/topics/moving.png); }
  /* line 50, ../precompiled/mos4-styles/backgrounds.scss */
  .aui .mos-topic.topic4 {
    background-image: url(../images/topics/financial-legal.png); }
  /* line 53, ../precompiled/mos4-styles/backgrounds.scss */
  .aui .mos-topic.topic5 {
    background-image: url(../images/topics/education.png); }
  /* line 56, ../precompiled/mos4-styles/backgrounds.scss */
  .aui .mos-topic.topic6 {
    background-image: url(../images/topics/health.png); }
  /* line 59, ../precompiled/mos4-styles/backgrounds.scss */
  .aui .mos-topic.topic7 {
    background-image: url(../images/topics/recreation-travel.png); }
  /* line 62, ../precompiled/mos4-styles/backgrounds.scss */
  .aui .mos-topic.topic8 {
    background-image: url(../images/topics/leaders-service-providers.png); }

/* line 3, ../precompiled/mos4-styles/backgrounds.scss */
.aui .image-background.repeat, .aui .blue-textured-overlay, .aui .transparent-blue-textured-overlay, .aui .fullscreen-overlay, .aui .darkblue-textured-overlay, .aui .gold-textured-overlay {
  background-repeat: repeat; }
/* line 6, ../precompiled/mos4-styles/backgrounds.scss */
.aui .image-background.cover, .aui .mos-topic {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%; }
/* line 13, ../precompiled/mos4-styles/backgrounds.scss */
.aui .gray-background {
  background-image: linear-gradient(to bottom, rgba(25, 72, 103, 0), rgba(25, 72, 103, 0.05)), radial-gradient(circle at 51% 47%, rgba(255, 255, 255, 0.5), rgba(225, 229, 245, 0.5)); }
/* line 17, ../precompiled/mos4-styles/backgrounds.scss */
.aui .blue-textured-overlay, .aui .transparent-blue-textured-overlay, .aui .fullscreen-overlay {
  background-image: url(../images/blue-textured.png); }
/* line 22, ../precompiled/mos4-styles/backgrounds.scss */
.aui .transparent-blue-textured-overlay {
  opacity: .95; }
/* line 27, ../precompiled/mos4-styles/backgrounds.scss */
.aui .darkblue-textured-overlay {
  background-image: url(../images/darkblue-textured.png); }
/* line 32, ../precompiled/mos4-styles/backgrounds.scss */
.aui .gold-textured-overlay {
  background-image: url(../images/gold-textured.png); }
/* line 37, ../precompiled/mos4-styles/backgrounds.scss */
.aui .mos-topic {
  background-color: #12334a; }
  /* line 41, ../precompiled/mos4-styles/backgrounds.scss */
  .aui .mos-topic.topic1 {
    background-image: url(../images/topics/military-life.png); }
  /* line 44, ../precompiled/mos4-styles/backgrounds.scss */
  .aui .mos-topic.topic2 {
    background-image: url(../images/topics/family.png); }
  /* line 47, ../precompiled/mos4-styles/backgrounds.scss */
  .aui .mos-topic.topic3 {
    background-image: url(../images/topics/moving.png); }
  /* line 50, ../precompiled/mos4-styles/backgrounds.scss */
  .aui .mos-topic.topic4 {
    background-image: url(../images/topics/financial-legal.png); }
  /* line 53, ../precompiled/mos4-styles/backgrounds.scss */
  .aui .mos-topic.topic5 {
    background-image: url(../images/topics/education.png); }
  /* line 56, ../precompiled/mos4-styles/backgrounds.scss */
  .aui .mos-topic.topic6 {
    background-image: url(../images/topics/health.png); }
  /* line 59, ../precompiled/mos4-styles/backgrounds.scss */
  .aui .mos-topic.topic7 {
    background-image: url(../images/topics/recreation-travel.png); }
  /* line 62, ../precompiled/mos4-styles/backgrounds.scss */
  .aui .mos-topic.topic8 {
    background-image: url(../images/topics/leaders-service-providers.png); }

/* line 3, ../precompiled/mos4-styles/layouts.scss */
.remove-side-margins {
  margin: 0 -10px; }

/* line 7, ../precompiled/mos4-styles/layouts.scss */
.side-padding {
  padding: 0 20px; }

/* line 11, ../precompiled/mos4-styles/layouts.scss */
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: none; }
  /* line 21, ../precompiled/mos4-styles/layouts.scss */
  .fullscreen-overlay.visible {
    z-index: 100;
    display: block; }

/* line 28, ../precompiled/mos4-styles/layouts.scss */
.dockbar-margin .fullscreen-overlay {
  margin-top: 40px; }
  @media (max-width: 767px) {
    /* line 28, ../precompiled/mos4-styles/layouts.scss */
    .dockbar-margin .fullscreen-overlay {
      margin-top: 47px; } }

/* line 36, ../precompiled/mos4-styles/layouts.scss */
.set-width {
  max-width: 775px;
  margin: 0 auto;
  padding: 0 30px; }

/* line 2, ../precompiled/mos4-styles/inputs.scss */
.aui button:focus {
  outline: none; }
/* line 6, ../precompiled/mos4-styles/inputs.scss */
.aui .mos-button, .aui .filled-button {
  text-transform: uppercase;
  border: none; }
  /* line 10, ../precompiled/mos4-styles/inputs.scss */
  .aui .mos-button .material-icons, .aui .filled-button .material-icons {
    font-size: 32px; }
/* line 15, ../precompiled/mos4-styles/inputs.scss */
.aui .filled-button {
  color: white;
  border-radius: 100px;
  padding: 8px 25px;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  transition: transform .3s ease-in-out; }
  /* line 26, ../precompiled/mos4-styles/inputs.scss */
  .aui .filled-button.blue {
    background-color: #194867;
    border: solid 2px #194867; }
    /* line 30, ../precompiled/mos4-styles/inputs.scss */
    .aui .filled-button.blue:hover {
      background-color: #12334a; }
  /* line 35, ../precompiled/mos4-styles/inputs.scss */
  .aui .filled-button.white {
    background-color: white;
    border: solid 3px #dde4e8;
    color: #194867; }
  /* line 41, ../precompiled/mos4-styles/inputs.scss */
  .aui .filled-button.red {
    background-color: #d43e51; }
    /* line 44, ../precompiled/mos4-styles/inputs.scss */
    .aui .filled-button.red:hover {
      background-color: #9f1c2a; }
/* line 50, ../precompiled/mos4-styles/inputs.scss */
.aui .mos-radiobutton {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* Hover and focus states */
  /* Checked state */
  /* Hover state whilst checked */
  /* Disabled state */ }
  /* line 54, ../precompiled/mos4-styles/inputs.scss */
  .aui .mos-radiobutton input {
    z-index: -1;
    opacity: 0; }
  /* line 59, ../precompiled/mos4-styles/inputs.scss */
  .aui .mos-radiobutton .mos-indicator {
    border: solid 4px #dde4e8;
    background-color: white;
    width: 16px;
    height: 16px;
    border-radius: 50%; }
  /* line 68, ../precompiled/mos4-styles/inputs.scss */
  .aui .mos-radiobutton:hover input ~ .mos-indicator, .aui .mos-radiobutton input:focus ~ .mos-indicator {
    background: #d64054; }
  /* line 74, ../precompiled/mos4-styles/inputs.scss */
  .aui .mos-radiobutton input:checked ~ .mos-indicator {
    background: #d64054; }
  /* line 79, ../precompiled/mos4-styles/inputs.scss */
  .aui .mos-radiobutton:hover input:not([disabled]):checked ~ .mos-indicator, .aui .mos-radiobutton input:checked:focus ~ .mos-indicator {
    background: #d64054; }
  /* line 85, ../precompiled/mos4-styles/inputs.scss */
  .aui .mos-radiobutton input:disabled ~ .mos-indicator {
    pointer-events: none;
    opacity: .6;
    background: #d64054; }
/* line 92, ../precompiled/mos4-styles/inputs.scss */
.aui .close-beta-button {
  background: transparent;
  color: #d64054;
  outline: none; }
