$dark-blue: rgb(15,43,62);
$blue: rgb(18,51,74);
$blue-image-overlay: rgba(0, 140, 234, 0.3);
$blue-image-overlay-dark: rgba(25, 72, 103, 0.6);
$blue-image-overlay-darker: rgba(25, 72, 103, 0.7);
$blue-image-overlay-much-darker: rgba(25, 72, 103, 0.85);
$light-blue: rgb(25,72,103);
$light-blue-transparent: rgba(25,72,103,0.95);
$light-blue-more-transparent: rgba(25, 72, 103, 0.4);
$dark-slate-blue: rgba(18, 52, 74, 0.05);
$dark-slate-blue-two: rgb(21,55,84);

$dark-aqua: rgb(61,139,165);
$aqua: rgb(66,163,196);
$light-aqua: rgb(100,181,208);

$dark-red: rgb(179,55,74);
$med-dark-red: rgb(184,33,50);
$red: rgb(214,64,84);
$med-red: rgb(212,62,81);
$light-red: rgb(228,92,120);
$rouge: rgb(162,36,58);
$rouge-two: rgb(168,14,38);
$rouge-three: rgb(159,28,42);

$dark-gold: rgb(187,141,94);
$gold: rgb(223,167,108);
$light-gold: rgb(236,202,155);

$dark-grey: rgb(74,74,74);
$dark-medium-grey: rgb(123,123,123);
$grey: rgb(194,194,194);
$medium-grey: rgb(221,228,232);
$light-grey: rgb(246,246,246);
$light-grey-transparent: rgba(25,72,103,0.1);
$very-light-grey: rgb(248,248,248);
$bluey-grey: rgb(162,181,193);

$pale-grey: rgb(248,249,253);
$pale-grey-two: rgb(239,244,247);
$pale-grey-three: rgb(232,235,247);
$pale-grey-four: rgb(234,237,249);
$pale-grey-five: rgb(244,246,251);
$warm-grey: rgb(155,155,155);
$cool-grey: rgb(177,188,194);
