<div>
	<img src="images/hero-bg.jpg"
     srcset="images/hero-bg@2x.jpg 2x, 
             images/hero-bg@3x.jpg 3x" 
     class="hero-bg">
<div>
	<h1>I'm Looking for a</h1>

</div>
<div >
 	<select class="Rectangle-4-Copy" name="singleSelect" id="singleSelect" ng-model="data.singleSelect" ng-change="hasChanged()">
      <option value="A Military Installation">A Military Installation</option> 
      <option value="State resources">State resources</option>
      <option value="Program or service">Program or service</option>
    </select>
    <!--<img src="images/rectangle-4-copy.png"
     srcset="images/rectangle-4-copy@2x.png 2x, 
             images/rectangle-4-copy@3x.png 3x"
     class="Rectangle-4-Copy">

     <img src="images/rectangle-4-copy.svg"
     class="">-->

     <!--<img src="images/hero-bg.jpg"
     srcset="images/hero-bg@2x.jpg 2x, 
             images/hero-bg@3x.jpg 3x" 
     class="hero-bg">

     <img src="images/hero-bg.png"
     srcset="images/hero-bg@2x.png 2x, 
             images/hero-bg@3x.png 3x"
     class="hero-bg">-->

</div>

<div >
	<input  class="Rectangle-4-Copy-textbox" id="installationText" type="text" title="Installation Text" class="span3" ng-model="mi.userModel.installation" 
    data-provide="typeahead" data-source="" 
    placeholder="Search the name of an installation" autocomplete="off">
  	
    <!--<img src="images/search.svg"
     class="Search">-->

     <img src="img/rectangle-4-copy.png"
     srcset="img/rectangle-4-copy@2x.png 2x, 
             img/rectangle-4-copy@3x.png 3x"
     class="Rectangle-4-Copy-textbox">
     <img src="images/search.png"
     srcset="images/search@2x.png 2x, 
             images/search@3x.png 3x"
     class="Search">
     
     <!--<img src="images/search.svg"
     class="Search">-->
</div>

</div><!--end wrap-->