
<script>
	


</script>


<div ng-app="myapp">
	
	<table>
	<tr><td><h4>What are you looking for?</h4></td>
	<td>

	<select name="singleSelect" id="singleSelect" ng-model="data.singleSelect" ng-change="hasChanged()">
      <option value="">---Please select---</option> <!-- not selected / blank option -->
      <option value="A Military Installation">A Military Installation</option> <!-- interpolation -->
      <option value="State resources">State resources</option>
      <option value="Program or service">Program or service</option>
    </select>
    </td></tr></table>
    <!--<div ng-dropdown-multiselect="" options="stringData" selected-model="example9model" extra-settings="example9settings"></div><br><br>

    <div ng-dropdown-multiselect="" options="instypeData" selected-model="instypeModel" extra-settings="instypeSettings"></div><br>

    <button class="btn btn-success" ng-click="prgInsSubmission(example9model, instypeModel)" type="submit">Go</button>-->
</div>

<!--<table>
<tr ng-repeat="x in setUrls" >
    <td>
    	<a href={{x}} target="_blank">{{x}}</a><br>
    </td>
</tr>
</table>-->


<div ng-app="myapp">
	<div class="container-fluid" >
		
		<div class="form-group" ng-show="data.singleSelect=='A Military Installation'" >
 			<input type="text"  placeholder='Enter a Installation' ng-model="base.selected" uib-typeahead="base for base in mibases | filter:$viewValue | limitTo:8" class="form-control"  ></br>
			<button class="btn btn-success" ng-click="misubmission(base.selected)" type="submit">Go</button>
		</div>

		<div class="form-group" ng-show="data.singleSelect=='State resources'">
 			<input type="text"  placeholder='Enter a State' ng-model="state.selected" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control" ></br>
			<button class="btn btn-success"  ng-click="statesubmission(state.selected)" type="submit">Go</button>
		</div>

		<div class="form-group" ng-show="data.singleSelect=='Program or service'">
			
			<select name="zipInsSelect"  ng-model="data.zipInsSelect">
      		<option value="">---Filter by Installation or Zipcode---</option> <!-- not selected / blank option -->
      		<option value="Installation">Installation</option>
      		<!--<option value="Zipcode">Zipcode</option>-->
      		</select><br><br>
			
	      	<div class="form-group" ng-show="data.zipInsSelect=='Installation'" >
	      		<!--<input type="text" placeholder='Enter a Installation'
				ng-model="prg.selected" uib-typeahead="base for base in prgmibases | filter:$viewValue | limitTo:8" class="form-control" ><br>
				<button class="btn btn-success" ng-click="prgsubmission(data.programsSelect, prg.selected)" type="submit">Go</button>-->
					<table>
						<tr>
						<td>
							<input type="text" placeholder='Enter a Installation'
							ng-model="ins.selected" uib-typeahead="base for base in prgmibases | filter:$viewValue | limitTo:8" class="form-control" >
						</td>
						<td>
							<div ng-dropdown-multiselect="" options="stringData" selected-model="example9model" extra-settings="example9settings"></div>
	    				<!--<td><div ng-dropdown-multiselect="" options="instypeData" selected-model="instypeModel" extra-settings="instypeSettings"></div>-->
	    					<!--<select name="prgSelect"  ng-model="data.prgSelect">
      							<option value="">Select program or service</option>
      							<option value="ALL">ALL</option>
      							<option value="Chapel">Chapel</option>
      							<option value="Dentist">Dentist</option>
      						</select><br><br>-->
	    				</td>
	    				</tr>
	    			</table>

	    			<button class="btn btn-success" ng-click="prgInsSingleSelect(ins.selected, example9model)" type="submit">Go</button><br><br>
	    			
	    			<table>
						<tr ng-repeat="x in setContacts" >
	    				<td>
	    					<p>{{x}}</p>
	    						
	    				</td>
						</tr>
					</table>
				
			</div>
		
			<div class="form-group" ng-show="data.zipInsSelect=='Zipcode'" >
				<input type='text' placeholder='Enter a Zipcode' ng-disabled='prg.selected' ng-model="data.programsZipcode">
		 	   	<select ng-model='selectMiles' ng-disabled='prg.selected'>
	  			<option id = '5'>5 miles</option>
	  			<option id='10'>10 miles</option>
	  			<option id = '25'>25 miles</option>
	  			<option id = '50'>50 miles</option>
	  			<option id = '100'>100 miles</option>
	  			<option id = '250'>250 miles</option>
	  			<option id = '500'>500 miles</option>
				</select>
				

				<button class="btn btn-success" ng-click="prgsubmission(data.programsSelect, data.programsZipcode,selectMiles)" type="submit">Go</button>
			</div>
 		</div>
    
	</div>
</div>