

<div ng-app="myapp">
	
	<table>
	<tr><td><h4>What are you looking for?</h4></td>
	<td>

	<select name="singleSelect" id="singleSelect" ng-model="data.singleSelect" ng-change="hasChanged()">
      <option value="">---Please select---</option> <!-- not selected / blank option -->
      <option value="A Military Installation">A Military Installation</option> <!-- interpolation -->
      <option value="State resources">State resources</option>
      <option value="Program or service">Program or service</option>
    </select>
    </td></tr></table>
    <!--<div ng-dropdown-multiselect="" options="stringData" selected-model="example9model" extra-settings="example9settings"></div><br><br>

    <div ng-dropdown-multiselect="" options="instypeData" selected-model="instypeModel" extra-settings="instypeSettings"></div><br>

    <button class="btn btn-success" ng-click="prgInsSubmission(example9model, instypeModel)" type="submit">Go</button>-->
</div>

<!--<table>
<tr ng-repeat="x in setUrls" >
    <td>
    	<a href={{x}} target="_blank">{{x}}</a><br>
    </td>
</tr>
</table>-->


<div ng-app="myapp" >
	<div class="container-fluid" >
		
		<div class="form-group" ng-show="data.singleSelect=='A Military Installation'" >
 			<input type="text"  placeholder='Enter a Installation' ng-model="base.selected" uib-typeahead="base for base in mibases | filter:$viewValue | limitTo:8" class="form-control"  ></br>
			<button class="btn btn-success" ng-click="misubmission(base.selected)" type="submit">Done</button>
		</div>

		<div class="form-group" ng-show="data.singleSelect=='State resources'">
 			<input type="text"  placeholder='Enter a State' ng-model="state.selected" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control" ></br>
			<button class="btn btn-success"  ng-click="statesubmission(state.selected)" type="submit">Done</button>
		</div>

		<div class="form-group" ng-show="data.singleSelect=='Program or service'">
			<table><tr><td>
				<select name="zipInsSelect"  ng-model="data.zipInsSelect">
      				<option value="">---Filter by Installation or Zipcode---</option> <!-- not selected / blank option -->
      				<option value="Installation">Installation</option>
      				<option value="Zipcode">Zipcode</option>
      			</select>	
			</td>
			<td>
				<input type="text" ng-show="data.zipInsSelect=='Installation'" placeholder='Enter a Installation'
				ng-model="ins.selected" uib-typeahead="base for base in prgmibases | filter:$viewValue | limitTo:8" class="form-control" >
				<input type='text' placeholder='Enter a Zipcode'  ng-show="data.zipInsSelect=='Zipcode'" ng-model="data.programsZipcode">
			</td>
			<td>
				<select ng-model='selectMiles' ng-show="data.zipInsSelect=='Zipcode'">
	  				<option id = '25'>25 miles</option>
	  				<option id= '50'>50 miles</option>
	  				<option id = '100'>100 miles</option>
	  				<option id = '250'>250 miles</option>
	  				<option id = '500'>500 miles</option>
				</select>
			</td>
			<td>
				<div ng-dropdown-multiselect="" ng-if="data.zipInsSelect=='Installation'||data.zipInsSelect=='Zipcode'" options="stringData" selected-model="example9model" extra-settings="example9settings"></div>
				

	    				<!--<td><div ng-dropdown-multiselect="" options="instypeData" selected-model="instypeModel" extra-settings="instypeSettings"></div>-->
	    					<!--<select name="prgSelect"  ng-model="data.prgSelect">
      							<option value="">Select program or service</option>
      							<option value="ALL">ALL</option>
      							<option value="Chapel">Chapel</option>
      							<option value="Dentist">Dentist</option>
      						</select><br><br>-->
	    	</td>
			</tr>
			</table>

			<!--<div class="myInsTag"  ng-if="ins.selected" ng-model="ins.selected" > 
                    <span > {{ins.selected}} </span>
                     <a href=""  id="" ng-click="removeIns(ins.selected, example9model)" >x</a> 
            </div>

			<div class="myTag" id="close{{$index}}" ng-repeat="c in multipleVlaue track by $index" > 
                     <span id="close{{$index}}"> {{c}} </span>
                     <a href="" class="close{{$index}}" id="close{{$index}}" ng-click="remove(c, ins.selected, example9model)" >x</a> 
            </div>-->
			
	      	<div   class="mi-left-col">
	      		<!--<input type="text" placeholder='Enter a Installation'
				ng-model="prg.selected" uib-typeahead="base for base in prgmibases | filter:$viewValue | limitTo:8" class="form-control" ><br>
				<button class="btn btn-success" ng-click="prgsubmission(data.programsSelect, prg.selected)" type="submit">Go</button>-->
						<button class="btn btn-success" ng-show="data.zipInsSelect=='Installation'"  ng-click="prgInsSingleSelect(ins.selected, example9model)" type="submit">Done</button>
						<button class="btn btn-success" ng-show="data.zipInsSelect=='Zipcode'" ng-click="zipsubmission( data.programsZipcode, selectMiles, example9model)" type="submit">Done</button>

						<br><br>
						<!--<table>
						<tr ng-repeat="contact in setContacts">
	    				<td >	
	    					<p>{{contact}} <br></p>
	    				</td>
						</tr>
						</table>-->	

					<div class="gridListdemoBasicUsage" >
						 <md-content class="md-padding" layout-xs="column" layout="row">
			    		 	<md-card style="width: 300px;" ng-repeat="contact in setContacts">
			          	 		<md-card-content>
			            		<h2>{{contact}}</h2>
			          			</md-card-content>
			       			</md-card>
			      		</md-content>
			    	</div>
	    	</div>
 		</div>
 
	</div>
</div>