<link rel="stylesheet" type="text/css" href="views/header/header.css">

<div class="mi-header">
    <div class="left-header-section">
        <a href="/">
            <img class="mi-logo-img" alt="Military Installations" src="images/mi-logo.png"
                 srcset="images/mi-logo@2x.png 2x,
                                 images/mi-logo@3x.png 3x">
        </a>
    </div>
    <div class="right-header-section">
        <a class="links" href="http://planmymove.militaryonesource.mil" target="_blank">
            PLAN MY MOVE
        </a>
        <a class="links" href="http://militaryonesource.mil" target="_blank">
            MILITARYONESOURCE.MIL
        </a>
    </div>
</div>

