<!-- <div class="overlay"> implied by loading JS file -->
  <div class="popup-background" onclick="fOverlayClose()"></div>

  <div class="popup-window">
    <button class="icon-button top-right" onclick="fOverlayClose()">
      <div class="red-line"></div>
      <p>Cancel</p>
    </button>

    <div class="popup-heading"></div>
    <div class="popup-text"></div>

    <div class="red-button-container">
      <button class="filled-button red red-button">
        <div class="text">Continue</div>
      </button>
    </div>
  </div>
<!-- </div> -->