.aui .accordion{
  
  &.article-content{
    padding: 0 40px;
    margin-top: 0;
    display: inherit;
  }

  .accordion-row{
		
    .row-title{
      @include flex;
      @include align-items(center);
      @include justify-content(space-between);
      min-height: 78px;
      font-family: 'Work Sans', sans-serif;
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.2;
      color: $light-blue;
      cursor: pointer;
  		
      &.border-bottom{
        border-bottom: solid 3px $medium-grey;
  	  }
    }
		
	.row-text{
      background-color: $pale-grey-five;
      font-family: 'Arvo', serif;
      font-size: 1rem;
      line-height: 1.5;
      color: $dark-grey;
      padding: 40px;
    }
  }
}