    <link rel="stylesheet" type="text/css" href="views/footer/footer.css">

    <footer class="footer">
        <div class="container-fluid footer-nav">
            <div class="col-md-3">
                <div class="nav-title">OUR WEBSITES</div>
                <div class="nav-body">
                    <div><a class="link light">Accessibility Tools</a></div>
                    <div><a class="link light">Education Directory for Children with Special Needs</a></div>
                    <div><a class="link light">Military OneSource</a></div>
                    <div><a class="link light">MySECO</a></div>
                    <div><a class="link light">MSEP Career Portal</a></div>
                    <div><a class="link light">Plan My Deployment</a></div>
                    <div><a class="link light">Plan My Move</a></div>
                    <div><a class="link light">eSponsorship Training</a></div>
                    <div><a class="link light">USA4 Military Families</a></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="nav-title">LEGAL AND SECURITY</div>
                <div class="nav-body">
                    <div><a class="link light">Accessibility</a></div>
                    <div><a class="link light">Resource Request Form</a></div>
                    <div><a class="link light">Disclaimer</a></div>
                    <div><a class="link light">No Fear Act</a></div>
                    <div><a class="link light">FOIA</a></div>
                    <div><a class="link light">Privacy Act Statement & Security</a></div>
                    <div><a class="link light">FOIA</a></div>
                    <div><a class="link light">No Solicitation</a></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="nav-title">RESOURCES</div>
                <div class="nav-body">
                    <div><a class="link light">About MC&FP</a></div>
                    <div><a class="link light">Reports and Surveys</a></div>
                    <div><a class="link light">Subscriptions</a></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="nav-title">CONNECT WITH US</div>
                <div class="nav-body">
                    <div><a class="link light">Blog Brigade</a></div>
                    <div><a class="link light">Social Media Hub</a></div>
                    <div><a class="link light">Facebook</a></div>
                    <div><a class="link light">Twitter</a></div>
                    <div><a class="link light">Pinterest</a></div>
                    <div><a class="link light">YouTube</a></div>
                    <div><a class="link light">Tumblr</a></div>
                    <div><a class="link light">USA.gov</a></div>
                </div>
            </div>
        </div>

        <div class="subfooter">
            <div class="version-number">
                4.0
            </div>
        </div>
    </footer>
